@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-10-03 10:46:56
 * @version $Id$
 */

/*-------------------------------------------------------------------------------------*/

/*系统主框架*/

html{width:100%;height:100%;}
body{background:#F7F7F7;}
#header{position:fixed;left:0;top:0;z-index:100;height:77px;width:100%;background:#05A0E3 url(../img/system/head-bg.jpg) repeat-x left top;line-height:77px;overflow:hidden;box-shadow:rgba(229,245,229,1) 0 12px 24px;border-bottom:1px solid #6CD6DA;}
#header .h-left{margin-left:20px;text-align:center;}
#header .h-left img{border:none;vertical-align:middle;margin-right:10px;outline:0;}
#header .h-left h1{font-size:20px;font-family:"Microsoft YaHei Light";vertical-align:middle;color:#FFF;}
#header .h-right{margin-right:40px;font:100 14px "宋体";line-height:77px;}
#header .h-right #user{display:inline-block;height:77px;color:#FF4200;padding:0 5px;font-family:"Monaco";}
#header .h-right .yuzhi{color:#fff;font-family:"Microsoft YaHei Light";}
#header #quit{border:0;background:none;outline:none;color:#FFF;font-family:"Microsoft YaHei";padding-left:27px;line-height:20px;background:url(../img/icon/quit.png) no-repeat left top;}
.fenge{color:#FFF;height:18px;margin:0 10px;width:1px;}
.fenge2{color:#aaa;height:18px;margin:0 10px;width:1px;}

#navBar{position:fixed;left:0;top:80px;z-index:100;width:200px;height:100%;background:rgba(255,255,255,0.9);    /* border-top: 1px solid #1ACDF7;*/}
#navBar li{height:45px;text-indent:15px;border-left:5px solid rgba(0,0,0,0);color:#000;cursor:pointer;}
#navBar li h2{font:14px/45px "Microsoft YaHei";}
#navBar li.active{border-left:5px solid #FF4200;color:#FF4200;background:#EBEBEB;}
#container{height:100%;width:100%;padding:80px 0 0 0px;position:relative;}
#container .info,.workManage,.unitManage,.infoM,.systemM{width:auto;background:#F7F7F7;margin-left:220px;padding:0 0px 10px 10px;}
.pulicTit{height:45px;line-height:45px;margin-left:-30px;padding-left:30px;background:#FFF url(../img/icon/address_tips.jpg) no-repeat 30px center;}
.pulicTit h3{border-bottom:1px solid #FF4200;font-size:14px;text-indent:25px;display:inline-block;}
.manager .pulicTit{height:45px;line-height:45px;margin-left:-30px;padding-left:30px;background:#FFF;}
.manager .pulicTit h3{text-indent:0;margin-right:20px;border:none;cursor:pointer;}
.manager .pulicTit .ml{    /*background: #EBEBEB;*/
border-bottom:2px solid #FF4200;color:#FF4200;}
.manager .pulicTit .mlTab{    /*background: #EBEBEB;*/
border-bottom:2px solid #FF4200;color:#FF4200;}


#container .info .state{padding-top: 6px;}
#container .info .statement,#container .info p{line-height:2;padding:5px 0;}
#container .infoList{margin-top:20px;line-height:35px;}
#container .info li{list-style:decimal;list-style-position:inside;}
#infoTime{margin-left:20px;font:100 13px "Monaco";color:#A6E22E;}
.infoDetail{    /*background: #FFF;*/
width:100%;font:14px "宋体，Monaco";}
.infoDetail h4{color:#FF4200;text-align:center;height:45px;line-height:45px;font-size:14px;font-family:"Microsoft YaHei";}
.infoDetail p{text-indent:2em;margin-top:10px;padding-right:30px;line-height:2;}
.control{min-height:45px;font:13px "Microsoft YaHei";padding-right:20px;line-height: 45px;}
.add,.sync,.export,.batchDel,.lockNum,.allChe,.invert,.noReg,.allUnit,.aRegister,.addAd,.workerAll,.asUnit{height:30px;line-height:30px;margin-right:5px;border-radius:3px;text-align:center;border:none;background:none;color:#FFF;font-size:14px;}
.add,.sync,.allChe,.invert{background:#2196F3;padding:0 20px;}
.noReg,.aRegister,.asUnit{padding:0 15px;}
.noReg,.aRegister,.allUnit,.workerAll,.asUnit{opacity:0.3}
.addAd,.aRegister{background:#2196F3;}
.control .unitOpacity{opacity:1;    /*color:#000;*/}
.allChe,.allUnit,.workerAll{background:#A6E22E;}
.export{background:#FF4200;}
.asUnit,.lockNum,.noReg{background: #FFAC13;}
.batchDel{background:#A6E22E;}
.sync{background:#A6E22E;}
#unitForm{height:35px;padding:5px 0;line-height:45px;}
#unitForm #unitS{display:inline-block;height:35px;width:450px;border-color: #b8b8b8 transparent #ccc #b8b8b8;
  overflow: hidden;border-width:1px;border-style:solid;vertical-align: top;padding:0 5px;color:#000;font:14px/35px "Microsoft YaHei";}
#unitForm #sureSearch{position: relative;left: -4px;display:inline-block;cursor:pointer;height:35px;width: 90px;background: #FF4200;color:#FFF;font:14px/35px "Arial";letter-spacing: 1px;border:none;outline:none;vertical-align: top;}
#unitForm #unitS:hover{border-color: #aaa transparent #b8b8b8 #aaa;}
#unitForm #unitS:focus{border-color: #FA5F2C transparent #FA5F2C #FA5F2C;}
.showData{padding-right:30px;overflow:hidden;}
.showData table{width:100%;margin:0 auto;font:13px "Microsoft YaHei";text-align:center;border:1px solid #A6E22E;border-collapse:collapse;}
table tr{height:40px;background:#FFF;}
table th{color:#FF4200;background:#F7F7F7;}
table tr td{width:180px;}
table tr td input[type="checkbox"]{vertical-align:top;}
table tr td #delete,table tr td #edit{color:#000;}
table tr td #delete:hover,table tr td #edit:hover{color:#FF4200;cursor:pointer;}


/*参会人员统计*/

.attend .people {background: #FFF;}
.attend .imgContainer{width: 159px;padding-top: 15px;}
.attend .imgContainer img{width: 140px;height:174px}


.attend .attend-info{padding-top: 2px;}
.attend ul{height:220px;}
.attend ul li{height:40px;line-height: 40px;}
.attend dl dt,.attend dl dd{display:inline-block}
.attend dl dt{color:#FF4200;}
.attend dl dd{margin-right: 15px;}
/*分页*/
.pages{width:100%;height:20%;overflow:hidden;padding-top:20px;}
.pageCont{width:1000px;margin:0 auto;}
.pages p{line-height:28px;margin-right:20px;}
.pages p span,.totalNum,.pageNum,.nowNum,.noRegiNum,.alredyNum{color:#FF4200;padding:0 5px;}
.page-normal{color:#ff6500;text-align:center;font-size:0;}
.page-normal a,.page-normal a:hover .page-normal .page-current{display:inline-block;padding:0 0 0 3px;font-size:14px;margin-left:10px;height:28px;background:url(../img/system/page-round.jpg) no-repeat 0 0;border-radius:4px;}
.page-normal a span,.page-normal .page-current span,.page-normal .page-prev span{display:inline-block;padding:5px 10px 0 0;font-size:14px;margin-left:10px;height:23px;border-radius:4px;background:url(../img/system/page-round.jpg) no-repeat right 0;cursor:pointer;}
.page-normal .page-current,.page-normal a:hover{background-position:0 -28px;}
.page-normal .page-current span,.page-normal a:hover span{background-position:right -28px;color:#fff;border-radius:4px;}
.page-normal a{color:#FF4200;text-decoration:none;}
.page-normal .page-current{color:#ff6500;}
.page-normal .page-prev{color:#ff7000;}
#ellipsis{color:#FF4200;display:inline-block;padding:5px 10px 0 0;font-size:14px;margin-left:10px;height:23px;}

/*公告通知*/

/*遮罩层*/

.mask{width:100%;height:100%;position:fixed;top:0px;left:0px;background:url(../img/login/mask.png);z-index:8;display:none;}
.news{width:976px;height:594px;position:absolute;left:50%;margin-left:-488px;top:-600px;z-index:10;background:#e8e8e8;border-radius:6px;}
.news-top{margin:0px 10px;height:35px;color:#333333;line-height:35px;}
.news-top .tis{float:left;}
.news-body{    /*margin:0px 10px 0px 10px;*/
padding:10px;}
.news-body,.news-body ul{overflow:hidden;background:#ffffff;}
.news-body ul{margin:8px 10px;background:#ffffff;border-bottom:1px solid #e0e0e0;height:427px;overflow:auto;}
.news-body ul li{overflow:hidden;min-height:61px;line-height:61px;}
.news-time{width:150px;float:left;color:#999999;font-size:13px;border-right:2px solid #efefef;text-indent:20px;position:relative;}
.news-time .po{width:12px;height:12px;background:url(../img/po.png) no-repeat;position:absolute;right:-7px;top:50%;margin-top:-6px;}
.news-txt{min-width:735px;margin-left:10px;float:left;color:#666666;font-size:13px;text-indent:30px;border-bottom:2px dashed #efefef;height:59px;}
.ntxt{border-bottom:none;height:61px;}
.news-body-top{height:46px;border-bottom:1px solid #e0e0e0;margin:0px 10px;position:relative;background:#fff;}
.gb{cursor:pointer;float:right;background:url(../img/login/gb.png);width:13px;height:12px;display:block;margin-right:8px;margin-top:13px;}
.news-body-title{position:absolute;bottom:-1px;border-bottom:2px solid #0085d0;color:#0085d0;font-size:16px;padding:0px 15px;line-height:40px;}
.news-body-bottom{overflow:hidden;height:45px;background:#fff;margin:0px 10px;background:#fff;position:relative;z-index:10;}
.news-body-bottom .fh{width:81px;height:27px;background:url(../img/fh.png) no-repeat;margin-left:10px;margin-top:6px;float:left;}
.news-body-bottom .pag{float:right;color:#999999;font-size:12px;margin-right:10px;margin-top:12px;}
.news-body-bottom .pag a{color:#999999;}
.news-body-bottom .pag span{color:#f10101;}
.news-bodys{display:none;}
.news-body li a{cursor:pointer}
.news-body-txt{min-height:424px;margin:10px;overflow:auto;}
.news-body-txt .time{color:red;font-size:13px;text-indent:20px;margin-bottom:20px;}
.news-body-txt{color:#999999;font-size:13px;text-indent:20px;line-height:25px;}
.pay-body-txt{text-align:center;margin-top:180px;}
.pay-body-txt .id{color:#206baf;text-align:center;font-size:14px;margin-bottom:20px;}
.pay-body-txt .paym{color:#206baf;text-align:center;font-size:24px;}
.pay-body-txt .text{color:#8a8a8a;text-align:center;font-size:14px;margin-top:62px;margin-bottom:60px;}
.payb{width:158px;height:51px;text-align:center;line-height:51px;margin:auto;background:#5eaeff;color:#fff;}

/*表单弹窗*/
label{font-size:14px;}
.formWrap{width:976px;background:#FFF;border-radius:6px;position:relative;}
.header{height:35px;background-color:#EBEBEB;border-radius:5px 5px 0 0;}
.header h1{color:#000;font-size:16px;line-height:35px;text-indent:16px;}
.formWrap .header .formGb{position:absolute;top:-2px;right:0px;}
.pop-body{position:relative;background:#FFF;padding:0 15px;}
.pop-body-op{padding:0;}
#pop-form{padding:30px 16px 30px;}
.pop-body label{display:inline-block;width:60px;height:27px;color:#333333;font-size:12px;line-height:27px;}
.pop-left{width:50%;}
.pop-left .wu,.wk,.pro,.idCode,.mob,.eml,.meeting,.formRow,.text{height:27px;width:309px;margin-bottom:15px;margin-right:0;}
.pop-left .workName,.workUicode,.profession,.id-code,.mobile,.email,input[type="text"],input[type="password"],.pop-right .role{border:1px solid #bbbcbd;height:25px;width:200px;padding:0 5px;}
input[type="radio"]{vertical-align:text-bottom;}
.pop-body .yescanhui,.pop-body .nocanhui{width:40px;}
.imgUpload{display:inline-block;    /*   border: 1px solid #bbbcbd;*/height:25px;width:200px;padding:0 5px;line-height:25px;}
.pop-body input[type="file"]{position:absolute;top:0;left:0;width:180px;padding:0;outline:none;line-height:22px;background:none;    /*  background: #eeeeee;*/border:none;height:25px;}
.pop-right{width:50%;}
.pop-body .pop-right label{padding-left:33px;}
.pop-body .pop-right .biaojian,.pop-body .pop-right .single,.pop-body .pop-right .nozhushu,.pop-body .pop-right .functionary,.pop-body .pop-right .entourage,.pop-body .pop-right .userLock{width:auto;padding-right:5px;padding-left:0px;}
.form-btn{width:100%;text-align:center;background:#FFF;margin-top:20px;}
.form-btn .save-btn{width:80px;height:34px;margin-top:40px;font-size:16px;line-height:34px;color:#fffbfb;background-color:#2196F3;border:none;text-align:center;border-radius:2px;cursor:pointer;}
.unit .formRow{width:340px;}
.unit input[type="text"],.unit input[type="password"]{width:200px;}