@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-10-02 10:28:07
 * @version $Id$
 */


/*common*/


/*login*/

html {
    width: 100%;
    height: 100%;
}

body {
    background: #0B98D7 url(../img/login/background.png) repeat-x scroll left top;
    font: 12px/1.5 "Microsoft Yahei";
}

.login {
    height: 90%;
}

.login-right {
    float: left;
    width: 50%;
    height: 90%;
    line-height: 600px;
    text-align: center;
    font-size: 54px;
    background: url();
    white-space: nowrap;
}

#form1 {
    float: right;
    width: 50%;
    height: 90%;
    position: relative;
}

.logins {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    background: url(../img/login/login.png) repeat-y left top;
    padding: 60px 20px 100px;
    margin-left: -150px;
    margin-top: -25%;
    /*border: 2px solid #f1f1f1;*/
    border-radius: 5px;
    /*
      box-shadow: 1px 1px 1px #f1f1f1;}*/
}

.login-i {
    height: 35px;
    width: 300px;
    margin: 20px auto 0;
    border: 1px solid #FFF;
    background: #FFF url(../img/icon/pwd-icons-new.png) no-repeat left top;
}

.pwd {
    background-position: -48px 0;
}

.login-i input {
    width: 258px;
    height: 34px;
    outline: 0;
    border: 0;
    margin-left: 37px;
    padding-left: 5px;
    line-height: 34px;
}

.login-a label {
    display: inline-block;
    height: 35px;
    width: 300px;
    margin: 20px auto 0;
    line-height: 35px;
}
.mes-back{ height: 20px;
    width: 300px;margin: 10px auto 0;
    line-height: 20px;color:#EF1959;}
.login-a a {
    color: #FFF;
    font-size: 14px;
}

.login-a a:hover {
    text-decoration: underline;
    color: #FFF;
}

.login-bn {
    font:14px "Microsoft YaHei,Monaco";
    height: 35px;
    width: 300px;
    cursor: pointer;
    margin: 20px auto 0;
    background:#07ADE0;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    outline:0;
    border:0;
    border-radius: 3px;
}
.login-bn:hover{background: #05B2D3 ;}
.footer {
    width: 100%;
    height: 10%;
}

.footer p {
    line-height: 5;
    text-align: center;
}


/*响应式*/

@media screen and (max-width:986px) {
    .login {
        height: auto;
        width:100%;
    }
    .login-right {
        font-size: 30px;
        float: none;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        text-indent: 0;
        margin: 0 auto;
    }
    #form1 {
        float: none;
        margin: 20px auto 0;
        width: auto;
        height: auto;
    }
    .logins {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
}



@media screen and (max-width:768px) {
    .login-right {
        font-size: 28px;
    }
}
